<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293751952750-et028dlq158lps6fibpscjesldpd6g41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293751952750-et028dlq158lps6fibpscjesldpd6g41</string>
	<key>API_KEY</key>
	<string>AIzaSyBpDFBopTkGh-3C3KeMmLHZK7qNVcXrNZo</string>
	<key>GCM_SENDER_ID</key>
	<string>293751952750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fridgy</string>
	<key>PROJECT_ID</key>
	<string>fridgy-4362f</string>
	<key>STORAGE_BUCKET</key>
	<string>fridgy-4362f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293751952750:ios:7178042b995f0f0c215d7f</string>
	<key>DATABASE_URL</key>
	<string>https://fridgy-4362f.firebaseio.com</string>
</dict>
</plist>